<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="https://storage.googleapis.com/restaurant-app-314718-public/assets/favicon.png">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="">
    {% block content %}{% endblock %}
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>

