{% extends 'base.html' %}

{% block title %}Sabores De Mi Tierra{% endblock %}


{% block content %}

{% include 'flash-alerts.html' %}

{% if current_user.is_admin %}
<div class="my-3">
    <!-- change whatsapp number -->
    <a href="/users/create" class="btn btn-primary mx-3">Crear Nuevo Usuario</a>
</div>
{% endif %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Admin</th>
        <th scope="col">Eliminable</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{user.username}}</td>
        <td>{{user.is_admin}}</td>
        <td>{{user.isDeletable}}</td>
        <td>{% if user.isDeletable and user.username != current_user.username %}<a href="/{{user.username}}/delete" class="btn btn-danger mx-3">Eliminar</a>{% endif %}</td>
        
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
